/.kiro
/.vscode
/.hypothesis
/contrib
/Outlook365/target/
/Outlook365/tests/
/Outlook2000/
/tests/
/testtools/
/src/
/pspam/
/scripts/
/spambayes/
/windows/
/.continue/
/documents/
/utilities/
*.pyc
__pycache__
.pytest_cache
latest_error.txt
*.bat